@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "YComputer";
  src: url("/fonts/Ycomputer.ttf") format("truetype"), url("/fonts/Ycomputer.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-accent: #15d4ff;
}

body {
  font-family: "YComputer", sans-serif;
}

/* :root {
  --background: white;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364153;
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
